<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">
          Home</a>
    </li>
      <li class="breadcrumb-item"><a href="{% url 'main:list' %}">
          Resources</a>
        </li>
        {% if guide %}
      <li class="breadcrumb-item active" aria-current="page">
          
          <a href="{{guide.get_absolute_url}}">
            {{guide.name}} Api Guide
        </a>
       </li>
       {% endif %}
    </ol>
  </nav>