  <!-- Navigation -->
  {% url 'main:home' as home %}
  {% url 'main:contact' as contact %}
  {% url 'main:list' as list %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main:home' %}">
        {% if title %}
          Find Your API
        {% else %}
          Find Your API
          {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item 
            {% if request.path == home %}
              active
            {% endif %}
          ">
            <a class="nav-link" href="{% url 'main:home' %}">
              <i class="fas fa-home fa-md"></i> Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item 
            {% if request.path == list %}
              active
            {% endif %}
        ">
            <a class="nav-link" href="{% url 'main:list' %}">
              <i class="fas fa-th-list fa-md"></i> Resources List</a>
          </li>
          {% if request.user.is_authenticated %}
            {% if request.user.is_admin %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="fas fa-user-cog fa-md"></i> Admin</a>
                </li>
            {% endif %}
          {% endif %}
          <li class="nav-item 
            {% if request.path == contact %}
              active
            {% endif %}
            ">
            <a class="nav-link" href="{% url 'main:contact' %}">
              <i class="fas fa-envelope fa-md"></i> Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>