<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'snippets/meta.html' %}
  <title>
    Find Your API -
    {% block title %}
    {% endblock %}
  </title>

  {% include 'snippets/css.html' %}

</head>

<body class="d-flex flex-column sticky-footer-wrapper">
  {% include 'snippets/navigation.html' %}
 
  <main class="flex-fill">
 {% block content %}
   
 {% endblock content %}
</main>
 {% include 'snippets/footer.html' %}
 
  {% include 'snippets/javascript.html' %}
  
  {% block js %}
    
  {% endblock  %}
    
</body>

</html>
