{% extends 'index.html' %}

{% load static %}
{% block title %}
  Home
{% endblock  %}
  
{% block content %}
<header class="masthead" style="background-image: url({{object.validated_image_url}});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center contact">
          <h1 class="font-weight-light">
            Contact Us
          </h1>
            {% if object.gmail %}
            <div>
            <i class="fab fa-google fa-lg"></i>
            <a class="link" href="mailto:{{object.gmail}}">
               {{object.gmail}}
            </a>
              {% endif %}
            </div>
            {% if object.outlook %}
                <div>
            <i class="fab fa-microsoft fa-lg"></i>
            <a class="link" href="mailto:{{object.gmail}}">
                {{object.outlook}}
            </a>
              {% endif %}
            </div>
        </div>
        
      </div>
    </div>
  </header>
  
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
  