{% extends 'index.html' %}

{% block title %}
{{api.name}} API Guide 
{% endblock  %}
  
{% block content %}
  {% include 'snippets/breadcrumb.html' %}
      <!-- Page Content -->
  <section class="detail-section">
    <div class="container">
      <div class="row mt-5" >
        <div class="col-lg-10 m-auto text-center">
          <h1 class="">
            {{api.name}} API Guide 
          </h1>
        </div>
        <div class="col-lg-10 m-auto">
          <p class="lead mt-4">
              {{api.safe_content}} 
          </p>
        
        </div>
       
      </div>
    </div>
</section>
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock  %}
  