{% extends 'index.html' %}
{% load static %}
{% block title %}
{{guide.name}} API Guide 
{% endblock  %}
  
{% block content %}
  {% include 'snippets/breadcrumb.html' %}
      <!-- Page Content -->
  <section class="detail-section">
    <div class="container">
      <div class="row mt-5" >
        <div class="col-lg-10 m-auto text-center">
          <h1 class="">
            {{guide.name}} API Guide 
          </h1>
        </div>
        <div class="col-lg-10 m-auto">
          <p class="lead mt-4">
              {{guide.safe_content}} 
          </p>
        
        </div>
        <div class="w-100 mt-5"></div>
        <div class="col-lg-8 m-auto  text-center support-btn-container">
          <h2>Help us to grow up with this project</h2>  
          <p class="mb-3">
              If you find my work useful, or helped you in some way.
              It would mean a lot to me if you could write a message on my wall
              and share a cup of coffee with me 
              <br />
              ( Remember maybe small support make a huge change ) 
            </p>
            <a href="https://ko-fi.com/masterbdx" 
            class="mt-3">
              <img src="{% static 'images/kofi4_small.png' %}" />
             </a>
        </div>
        <div class="col-lg-10 m-auto mt-4 detail-try-container">
          
          <h2 class="text-center mb-3">Try it for yourself</h2>
          {% include 'snippets/try_api.html' %}
          
         <!-- Suggestion Form -->
         
         <!-- ------------------ -->
        </div>
      </div>
    </div>
</section>
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock  %}
  