{% extends 'index.html' %}

{% block title %}
{{guide.name}} API Guide 
{% endblock  %}
  
{% block content %}
  {% include 'snippets/breadcrumb.html' %}
      <!-- Page Content -->
  <section class="detail-section">
    <div class="container">
      <div class="row mt-5" >
        <div class="col-lg-10 m-auto text-center">
          <h1 class="">
            {{guide.name}} API Guide 
          </h1>
        </div>
        <div class="col-lg-10 m-auto">
          <p class="lead mt-4">
              {{guide.safe_content}} 
          </p>
        
        </div>
        <div class="col-lg-10 m-auto">
          <hr />
          <h2 class="text-center mb-3">Try it for yourself</h2>
          {% include 'snippets/try_api.html' %}
          <hr />
         <!-- Suggestion Form -->
         
         <!-- ------------------ -->
        </div>
      </div>
    </div>
</section>
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock  %}
  