{% extends 'index.html' %}

{% load static %}
{% block title %}
  Home
{% endblock  %}
  
{% block content %}
<header class="masthead" style="background-image: url({{object.validated_image_url}});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">
          {{object.title}}
        </h1>
        <p class="lead">
          {{object.overview}}
        </p>
      </div>
      
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="second-section">
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
         <p>
           {{object.safe_about_content}}
            
        </p>
      </div>
      </div>
      </div>
    
 
</section>
<section class="third-section">
  <div class="divider"></div>
    <div class="container mb-5">
          <h3 class="text-center">
            Give it a shot 
          </h3>
          <pre class=" language-javascript">
            <code>
              fetch(<span>'http://127.0.0.1:8000/'</span>)
              .then(response => response.json())
              .then(json => console.log(json))
            </code>
          </pre>
          <button class="btn btn-dark"> 
            Run Script
          </button>
          <pre class=" language-javascript mt-3">
            <code>
              {}
            </code>
          </pre>
      </div>
  </section>

  
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
  