{% extends 'index.html' %}

{% load static %}
{% block title %}
  Home
{% endblock  %}
  
{% block content %}
{% if object %}
<header class="masthead" style="background-image: url({{object.validated_image_url}});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">
          {{object.title}}
        </h1>
        <p class="lead">
          {{object.overview}}
        </p>
      </div>
      
    </div>
  </div>
</header>
{% endif %}
<!-- Page Content -->
<section class="second-section">
  {% if object.content %}
  <div class="divider"></div>
 {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
         <p>
           {{object.safe_about_content}}
            
        </p>
      </div>
      </div>
      </div>
    
 
</section>
<section class="third-section">
  {% if object.content %}
    <div class="divider"></div>
 {% endif %}
    <div class="container mb-5 mt-3">
          <h2 class="text-center mb-3" >
            Give it a shot 
          </h2>
         {% include 'snippets/try_api.html' %}
      </div>
  </section>

  
{% endblock content %}
    

{% block js %}
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
  