{% extends 'index.html' %}

{% load static %}
{% block title %}
  Home
{% endblock  %}
  
{% block content %}

<!-- Page Content -->
<section class="second-section">
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto text-center"">
        <h3 class="display-4" >{{obj.name}} Suggestion</h3> 
        <p class="lead">
            This suggestion has been read 
        </p>
      </div>
      </div>
      </div>
    
 
</section>

  
{% endblock content %}
